<!DOCTYPE html>
<html>
    <head>
        <title>hello world</title>
    </head>
    <body>
        <h1>cat loop</h1>
        <p><%=cats %></p>
        <% for(let cat of cats){%>
            <ol>
                <%= cat %>
            </ol>
        <%}%>
    </body>
</html>