<!DOCTYPE html>
<html>
    <head>
        <title>hello world</title>
    </head>
    <body>
        <p>Lorem ipsum dolor sit amet <%= 'data in upper case'.toUpperCase()%>consectetur adipisicing elit. Omnis iste consectetur voluptatibus quia, dolor explicabo saepe unde distinctio est debitis. Consequatur dolorem quasi ut magni nemo, minus eaque eos debitis.</p>
        <h1>hello</h1>
    </body>
</html>