<!DOCTYPE html>
<html>
    <head>
        <title>hello world</title>
        <link rel="stylesheet"  href="/app.css">
    </head>
    <body>
        <p>Lorem ipsum dolor sit amet <%= num %>consectetur adipisicing elit. Omnis iste consectetur voluptatibus quia, dolor explicabo saepe unde distinctio est debitis. Consequatur dolorem quasi ut magni nemo, minus eaque eos debitis.</p>
        <h1>hello</h1>
        <% if(num%2==0){%>
         <h1>even number</h1>
         <%}%>
    </body>
</html>